


Options All -Indexes
RewriteEngine on

#ERROR 404
ErrorDocument 404 http://localhost/crud-php/error
RewriteRule ^error$ 404.php [L]



#USUARIOS
RewriteRule ^usuarios$ views/usuarios.php [L]
RewriteRule ^usuario-editar-(.+)$ views/usuario_editar.php?id=$1 [L]
RewriteRule ^usuario-detalle-(.+)$ views/usuario_detalle.php?id=$1 [L]









